.layout-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  .el-aside {
    display: flex;
    flex-direction: column;
    .el-scrollbar {
      flex: 1;
    }
    .el-menu {
      border-right: none;
    }
  }
  .layout-body {
    display: flex;
    flex-direction: column;
  }
}
