.layout-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  .el-aside {
    display: flex;
    flex-direction: column;
    transition: width 0.28s;
    background-color: var(--el-aside-bg-color);
    border-right: 1px solid var(--el-aside-border-color);
    .el-scrollbar {
      flex: 1;
    }
    .el-menu {
      border-right: none;
      height: 100%;
      .el-sub-menu.is-active {
        .el-sub-menu__title {
          color: var(--el-menu-active-color);
        }
      }
    }

    // 展开菜单栏
    &.is-expand {
      width: 210px;
    }

    // 收起菜单栏
    &.is-collapse {
      width: 65px;
    }

    // 小窗隐藏
    @media screen and (width < 992px) {
      position: fixed;
      left: 0;
      height: 100%;
      z-index: 100;
      &.is-collapse {
        transform: translateX(-65px);
      }
    }
  }
  .layout-body {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
