.layout-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  .el-aside {
    display: flex;
    flex-direction: column;

    // transition: width 4s;
    transition: width 0.28s;
    .el-scrollbar {
      flex: 1;
      border-right: 1px solid #e4e7ed;
    }
    .el-menu {
      border-right: none;
      height: 100%;
    }

    // FIXME : 动画问题,类名调整
    // 隐藏菜单栏
    &.hidden {
      position: fixed;
      height: 100%;
      background-color: #ffffff;
      z-index: 100;
    }

    // 展开菜单栏
    &.is-expand {
      width: 210px;
    }

    // 收起菜单栏
    &.is-collapse {
      width: 65px;
      &.hidden {
        // 收起隐藏
        // transform: translateX(-210px);
        transform: translateX(-65px);
      }
    }
  }
  .layout-body {
    display: flex;
    flex-direction: column;
  }
}
